[submodule "pthreads4w"]
	path = pthreads4w
	url = https://github.com/philippe44/pthreads4w
[submodule "curve25519"]
	path = curve25519
	url = https://github.com/philippe44/curve25519
[submodule "libopenssl"]
	path = libopenssl
	url = https://github.com/Philippe44/libopenssl
[submodule "libcodecs"]
	path = libcodecs
	url = https://github.com/Philippe44/libcodecs
