[submodule "vendor/curve25519"]
	path = vendor/curve25519
	url = https://github.com/msotoodeh/curve25519.git
[submodule "vendor/alac"]
	path = vendor/alac
	url = https://github.com/macosforge/alac.git
[submodule "vendor/valgrind"]
	path = vendor/valgrind
	url =  http://sourceware.org/git/valgrind.git
[submodule "vendor/openssl"]
	path = vendor/openssl
	url = https://github.com/openssl/openssl/
