[submodule "vendor/curve25519"]
	path = vendor/curve25519
	url = git@github.com:msotoodeh/curve25519.git
[submodule "vendor/alac"]
	path = vendor/alac
	url = git@github.com:macosforge/alac.git
[submodule "vendor/valgrind"]
	path = vendor/valgrind
	url = git://sourceware.org/git/valgrind.git
